body {
    margin: 0;
    background: linear-gradient(to bottom, rgb(122, 5, 5), rgb(238, 58, 58), rgb(236, 214, 214));
    background-size: cover;
    box-sizing: border-box;
    /* animation: animate 20s infinite; */
    
}
/* @keyframes animate{
    20%{
      background: url(./Components/Images/th00.jpeg);
      background-size: cover;
    }
    40%{
      background: url(./Components/Images/th01.jpeg);
      background-size: cover;
    }
    60%{
      background: url(./Components/Images/th02.jpeg);
      background-size: cover;
    }
    80%{
      background: url(./Components/Images/th03.jpeg);
      background-size: cover;
    }
    90%{
      background: url(./Components/Images/th04.jpeg);
      background-size: cover;
    }
    100%{
        background: url(./Components/Images/th05.jpeg);
        background-size: cover;
      }

  } */

.App {
    margin: 0;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    font-family: "Sofia", sans-serif;
    border: 2px solid black;
    border-radius: 25px;
}
.search{
    display: inline-flex;
}
.search input{
    width: 250px;
    font-size: 20px;
}
.search button{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    padding: 0px;
    margin-top: 56px;
    background-color: rgb(240, 12, 12);
    color: white;
}

.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.pizza {
    color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    width: 50%;
}

.pizza1 {
    /*background-color: rgb(48, 175, 217);
    height: 150%;
    width: 250%; */
    box-shadow: 0px 2px 8px 0px rgba(39, 10, 141, 0.5), 0px 4px 16px 0px rgba(7, 71, 190, 0.5);
    text-align: center;
    border-radius: 20px;
    margin: 1%;
    cursor: pointer;
}

.btn {
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}


/* new style to accomodate cart */

.d {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 150px;
}

.d h1 {
    padding: 5px 30px;
}

.d button {
    outline: none;
    border: none;
    color: #fff;
    background: #333;
    padding: 5px 10px;
    font-size: 23px;
    border-radius: 5px;
    z-index: 4;
}

.d button:hover {
    cursor: pointer;
}


/* cart */

.cart-cont {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    background: lightgreen;
    box-shadow: 0px 0px 10px 0px rgba(39, 10, 141, 0.5), 0px 4px 16px 0px rgba(7, 71, 190, 0.5);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-list {
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-cont h1 {
    text-align: left;
}

.cart {
    background-color: rgb(185, 240, 21);
    height: 25%;
    width: 80%;
    box-shadow: 0px 2px 8px 0px rgba(39, 10, 141, 0.5), 0px 4px 16px 0px rgba(7, 71, 190, 0.5);
    text-align: center;
    border-radius: 20px;
    margin: 1%;
    cursor: pointer;
    margin-bottom: 8px;
}

.input {
    border-radius: 20px;
    padding: 10px;
    margin: 10%;
    width: 150%;
}

.p {
    color: rgb(15, 218, 79);
}
#cards{
    display: inline-flex;
    margin: 50px;
}
#restaurants{
    display: inline-flex;
    margin: 50px;
}
